h1 {
    color: brown;
}

* {
    border: solid;
}

.header{
    background-color:rgb(176, 201, 193);
    display: flex;
   /* justify-content:space-between;*/

}

.grid{
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly;
}

.socialmedia{
    display:flex;
    justify-content: flex-end;
}

p,h2{
    text-align:center;
}

h1{
    text-align: center;
}

body{
    background-color: #987493;
}